{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Création d'une note</h1>
            </div>
            <div class="col-md-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
